<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BookClub - Books</title>
</head>
<body>
    <h2>Welcome, {{ user.username }}!</h2>
    <url>
        {% for book in books %}
        <li>{{ book.title }} by {{ book.author }} </li>
        {% endfor %}
    </ul>
    <a href="{% 'add_book' %}">Add Book</a>
</body>
</html>
